[user]
	name = isyiwang
	email = isaacwang@gmail.com
[credential]
	helper = osxkeychain
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = ~/.default-difftool.sh $LOCAL $REMOTE
[difftool]
	prompt = false
[merge]
	tool = xxdiff
[mergetool "xxdiff"]
	cmd = ~/.default-difftool.sh $LOCAL $BASE $REMOTE $MERGED
[alias]
	dt = difftool
	lola = log --all --decorate --pretty=oneline --graph --abbrev-commit --color
	st = status
	co = checkout
	c = commit
[core]
	editor = emacs
[color]
	branch = auto
  	diff = auto
  	status = auto